.img-details{
    width:450px;
    height:400px;
    object-fit: cover;
    
}
.img-details img{
    width: 450px;
    height: 400px;
    border-radius: 10px;
    object-fit: cover;
}
.dec,.quandity,.inc{
    width: 40px;
    height: 40px;
    border: 1px solid silver;
    display: flex;
    align-items: center;
    justify-content: center;
}
.details_incDec{
    display: flex;
}
